.MuiFab-root[id="menu"] {
  cursor: pointer;
  background-color: #012B83;
}

.container-menu {
  z-index: 20;
  transform: scale(125%);
}

@media (width>640px) {
  .MuiFab-root[id="menu"] {
    display: none !important;
  }

  .container-menu {
    z-index: 0;
    transform: scale(100%);
  }
}


.option {
  @apply flex-1 justify-start lg:whitespace-nowrap my-3 text-xl;

  &:hover {
    @apply text-navBar cursor-pointer;
  }
}

.optionNav {
  @apply pl-8 py-3 pr-8 lg:pr-0 self-start text-center text-2xl lg:text-xl underline-offset-4 hover:underline transition-all;

  &:hover {
    @apply text-header cursor-pointer;
  }
}