@tailwind base;
@tailwind components;
@tailwind utilities;
@import "Components/Header/Header.scss";

body {
  font-family: 'Markazi Text', serif !important;
  position: relative;
  transition: all 0.3s linear;
  overflow-x: hidden;
}

body::before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s linear;
}

.before::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7) !important;
  opacity: 1;
  top: 0;
  position: absolute;
  z-index: 20 !important;
  transition: all .3s linear;
}